body
{
	background: #ececec;
}

header, .bar
{
	background: url('../img/bg.png') #0066cc;
	background-repeat: repeat;
	padding-top: 10px;
	height: 70px;
	border:none;
}

.bar, .bar-tab, .bar a
{
	color: #fff !important;
}

.bar-tab .icon
{
	font-size: 25px !important;
}

.bar-tab a, .bar-tab span
{
	font-size: 12px !important;
}

#wrap
{
	margin: 70px 0;
	height: 1000px;
	overflow: auto !important;
	padding-bottom: 580px;
}

.imgformatter
{
	margin-top: 8px;
	width: 60px;
}

.podtitle
{
	display: block;
	font-size: 13px;
	font-weight: bold;
}

.table-view-cell
{
	padding: 11px 11px 11px 15px;
}

.poddesc
{
	font-size: 11px;
}

#ctrlaudio
{
	display: none;
}

.singlepodcast .header
{
	display: block;
	width: 100%;
	height: 250px;
	background: url('../img/podbg.jpg') #0066cc;
	background-position: fixed;
	background-size: cover;
	color: #fff;
}

.singlepodcast .header h1
{
	font-size: 25px;
	padding-top: 100px;
}

.singlepodcast .postdata .contenido
{
	font-size: 17px;
	line-height: 22px;
	letter-spacing: 0.02em;
}

.singlepodcast .postdata .date
{
	font-size: 14px;
	line-height: 20px;
}

.containerbox
{
	margin: 10px auto;
	background: #fff;
	color: #333;
	padding: 12px;
	box-shadow: #bdc3c7 0px 1px 0px;
	width: 100%;
	display: block;
}

#drawer
{
	background: #0066cc;
	width: 89%;
	float: left;
}

#fullcontent
{
	float: left;
	width: 100% ;
}

.oculto
{
	display: none;
}