header, .bar
{
	background: url('../img/bg.png') #0066cc;
	padding-top: 2px;
}

.bar, .bar-tab, .bar a
{
	color: #fff !important;
}

#wrap
{
	margin: 45px 0;
	height: 1000px;
	overflow: auto !important;
}

.imgformatter
{
	margin-top: 8px;
	width: 60px;
}

.podtitle
{
	font-size: 13px;
	font-weight: bold;
}

.poddesc
{
	font-size: 11px;
}

#ctrlaudio
{
	display: none;
}