body
{
	background: #f4f4f4;
	font-family:  'Karla';
	position: relative
}
svg, img { max-height: 100%; max-width: 100%; }
header.bar
{
	border-bottom: 2px solid rgba(255,255,255,0.15);
	
}
header
{
	height: 70px;
	line-height: 70px;
	vertical-align: middle;
}
.page-chat
{
	padding-top: 1px !important
}
.page-programas
{
	padding: 0 !important;
}
.page-home, .page-perfil, .page-chat, .page-acerca, .page-programas, .page-ultimos, .page-pod
{
	min-height: 100vh;
	/* min-height: calc(100vh - 140px); */
	/* min-height: 73.5vh; */
	background:  -webkit-linear-gradient(top, #ffba66 0%, #ff5a6a 100%);
	background:  linear-gradient(to bottom, #ffba66 0%, #ff5a6a 100%);
	/* background:  linear-gradient(to bottom, #f4a853 0%, #ff5a6a 100%); */
	padding: 10px;
}

.separator
{
	height: 2px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: block;
	border-top: 1px solid #ddd;
}
.home-box-top
{
	min-height: 80px
}
.home-box span
{
	color: #848ca2;
    font-weight: bolder;
    font-size: 14px;
}
.home-box b
{
	font-family: 'Poppins';
    font-size: 15px;
    color: #333;
}
.home-box img
{
	width: 45px;
	float: left;
	margin-right: 10px
}
.box-new
{
	background: #fff;
	padding: 35px;
	border-radius: 7px;
	font-family: 'Karla';
	margin-bottom: 35px
}
.page-ultimos .box-new
{
	padding: 0 0;
}
.box-new p
{
	color: #848ca2;
}
.box-new b, .box-new strong
{
	color: #464c5d !important
}
.box
{
	background: #fff;
	padding: 35px;
	margin:  35px;
}
.btn-green:active, .btn-freen:focus
{
	color: #4dcd70;
	background: transparent;
	border: 2px solid #4dcd70;
}
.btn-green
{
    background: #4dcd70;
}
.btn
{
	width: 100%;
    border-radius: 50px;
    border: 0;
    font-family: 'Poppins';
    color: #fff;
    height: 45px;
    padding: 0
}
.obligatorio
{
	position: relative;
}
.obligatorio:before
{
	content: '*';
    color: #F44336;
    display: inline-block;
    font-family: 'Poppins';
    font-size: 21px;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    line-height: 55px;
    height: 45px;
    vertical-align: middle;
}
.page-ultimos h3
{
	padding: 35px 35px 0 35px;
}
.page-perfil h3, .page-ultimos h3
{
	text-align: center;
    font-family: 'Poppins';
    color: #333;
    font-size: 17px;
    margin-bottom: 15px;
}
.page-perfil select
{
	margin-bottom: 35px !important
}
.page-perfil input, .page-perfil select
{
	border-radius: 500px;
    border: 2px solid #eee;
    height: 45px;
    font-size: 15px;
    font-family: 'Karla';
    background-color: none;
    box-shadow: none;
    margin-bottom: 10px
}
.page-acerca .brand
{
	margin-bottom: 40px;
	text-align: center
}
.menuicon
{
	position: absolute;
	left: 17px;
	top:  5px;
}
.showmenav img
{
	margin-right: 10px;
	margin-top: -4px;
    vertical-align: middle;
}
.showmenav.active
{
	left: 0 !important;
}
.showmenav
{
	position: fixed;
	background: #323845;
	top: 70px;
	left: -100%;
	bottom: 0;
	right: 0;
	-webkit-transition: 0.35s ease-in-out;
	transition:  0.35s ease-in-out;
	width: 90%; 
	z-index: 500
}

.showmenav ul
{
	margin: 0;
	padding: 0
}
.showmenav li a
{
	padding: 15px 0 15px 50px;
	display: inline-block;
	/* color:  #fff; */
	color:  #a8aeb9;
	width: 100%;
}
.showmenav li
{
	list-style: none;
	/* font-family: 'Poppins'; */
	font-family: 'Karla';
	font-weight: bolder;
	border-bottom: 2px solid rgba(0,0,0,0.1)
}
header
{
	position: relative
}
header, .bar
{
	/* background: linear-gradient(to bottom right, #ffba66 0%, #ff9d5c 100%); */
	background:  #ffba66;
	padding-top: 10px;
	height: 70px;
	border:none;
}

.bar, .bar-tab, .bar a
{
	color: #fff !important;
}

.bar-tab .icon
{
	font-size: 25px !important;
}

.bar-tab a, .bar-tab span
{
	color: rgba(0, 0, 0, 0.35);
    font-family: "Poppins";
    text-transform: uppercase;
    font-size: 12px !important;

}

#wrap
{
	margin: 70px 0;
	/* height: 1000px; */
	overflow: auto !important;
	/* padding-bottom: 580px; */
}
.containerbox .icon
{
	width: 15px;
    margin-right: 15px;
    float: left;
}
.imgformatter
{
	/* margin-top: 8px; */
	width: 60px;
	border-radius: 500px
}
.ultimostitle, span.podtitle
{
	display: block;
	font-size: 15px;
	color:  #464c5d;
	font-weight: bold;
}
.ultimosdata, p.poddesc
{
	color: #848ca2;
    font-weight: bolder;
    font-size: 14px;
}
.podtitle
{
	display: block;
	font-size: 13px;
	font-weight: bold;
}

.table-view-cell
{
	padding: 11px 11px 11px 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12)
}
.table-view
{
	background-color: transparent;
	border-top:  0;
}
.poddesc
{
	font-size: 11px;
}

#ctrlaudio
{
	display: none;
}

.singlepodcast .header
{
	display: block;
	width: 100%;
	height: 250px;
	color: #fff;
	background-size: cover;
	background-position: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align:  center;
	    -ms-flex-align:  center;
	        align-items:  center;
	text-align: center
}

.singlepodcast .header h1
{
	font-size: 25px;
	/* padding-top: 100px; */
	margin:  0;
	text-shadow:  2px 2px rgba(0,0,0,0.2);
}

.singlepodcast .postdata .contenido
{
	font-size: 17px;
	line-height: 22px;
	letter-spacing: 0.02em;
}

.singlepodcast .postdata .date
{
	font-size: 14px;
	line-height: 20px;
}
.main-image
{
	border-radius: 15px;
	margin-bottom: 25px
}
.containerbox b
{
	/* padding: 5px; */
    color: #00A0EE;
    font-weight: bolder;
    font-size: 14px;
    display: block
}

.date .containerbox
{
	line-height: 15px
}
.containerbox
{
	box-shadow: none;
    border-radius: 5px;
    padding: 12px;
	margin: 10px auto;
	background: #fff;
	color: #333;
	/* padding: 12px; */
	/* box-shadow: #bdc3c7 0px 1px 0px; */
	width: 100%;
	display: block;
	overflow: auto;
	/* word-break: break-all; */
	text-align: justify
}
.containerbox img
{
	max-width: 95%;
}
#drawer
{
	background: #fefefe;
	box-shadow: #bdc3c7 0px 1px 0px;
	width: 89%;
	float: left;
	padding-top: 75px;
	border-right: 1px solid #ddd;
}

#drawer ul, #drawer ul li
{
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
}

#drawer ul li a
{
	overflow: auto;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	color: #333;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 10%;
	padding-left: 10px;
	border-bottom: 1px solid #ddd;
}

#drawer ul li span
{
	float: left;
}

#drawer ul li strong
{
	float: right;
}

#fullcontent
{
	float: left;
	width: 100% ;
}

.oculto
{
	display: none;
}

.navsample
{
	padding: 0;
	margin: 0;
}

.chatnav
{
	color: #333;
	width: 100%;
	padding: 10px;
}

.chatnav input
{
	width: 78%;
	float: left;
	height: 50px;
	border: 0;
	font-family: 'Karla'
}

.chatnav button
{
	color: #fff;
	border: none;
	/* width: 20%; */
	width: 50px;
	height: 50px;
	margin-left: 2%;
	float: right;
	height: 50px;
	background: #8BC34A;
	font-size: 30px;
	line-height: 0;
	border-radius: 50px
}

#MenuButton
{
	float: left;
	color: #fff;
	font-size: 30px;
	margin-left: 20px;
}

.lecontenthome p
{
	font-size: 16px;
}

/* SHOWS */
.programas
{
	margin: 0;
	padding: 0;
}

.programas li
{
	list-style:  none;
}

.programas li a
{
	width: 100%;
	height: 100px;
	background-size: cover;
	background-position: center;
	display:  inline-block;
	color:  #fff;
	font-family: 'Poppins';
	font-weight: bolder;
	text-align: center;
	line-height: 100px;
	text-shadow: 0 3px 0 rgba(0,0,0,0.3);
	font-size: 20px
}
.p-pen{background-image: url('../img/show-penultima.jpg');}
.p-freak{background-image: url('../img/show-freak.jpg');}
.p-nite{background-image: url('../img/show-nite.jpg');}
.p-neko{background-image: url('../img/show-neko.jpg');}

.chatdate
{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	margin-top:5px;
	font-size: 12px;
	text-align: right;
	display: block;
	width: 100%;
	overflow: auto;
}

.chat
{
	padding: 12px 12px 2px 12px;
}